* {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f6f7f9;
  color: #222;
}

a {
  color: inherit;
  text-decoration: none;
}
